{% extends 'base/base.html' %}


{% block conteudo %}
 
    {% set mensagens = get_flashed_messages(with_categories=true) %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var selectField = document.getElementById("grupo");
            var placeholderOption = document.createElement("option");
            placeholderOption.text = "Selecione um grupo";
            placeholderOption.value = "";
            placeholderOption.disabled = true;
            placeholderOption.selected = true;
            selectField.add(placeholderOption, selectField[0]);

            selectField.addEventListener("change", function () {
                placeholderOption.disabled = true;
            });
        });
    </script>

    <div class="container py-3 h-90">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body py-3 text-center ">

                    {% include 'base/flash.html' %}

                    <div class="card-body py-5 text-center d-flex align-items-center">
                        <a href="/cadastro/usuario"><img src="{{ url_for('static', filename='img/back-return-svgrepo-com.svg') }}" alt="Logo" class="align-middle"/></a>
                        <h2 class="title_cad fw-bold align-middle">Cadastro de usuário</h2>
                    </div>

                    <form action="" method="POST">
                        {{ form.csrf_token }}
                        <input type="hidden" name="form" value="update_form"/>

                        <div class="form-outline mb-2">
                            {{ form.nome(class="form-control form-control-lg", value=update.NOME) }}
                        </div>

                        <div class="form-outline mb-2">
                            {{ form.email(class="form-control form-control-lg", id="email_modal", value=update.EMAIL) }}
                            <div id="emailFeedback" class="invalid-feedback"></div>
                        </div>

                        <div class="d-flex form-switch form-switch my-2">
                            {{ form.status(class="form-check-input", id="status_modal", checked=True if update.STATUS == 'A' else False) }}
                            <label class="ms-1 form-check-label" id="status_label">Ativo</label>
                        </div>

                        <div class="btn-cad-usr d-flex justify-content-between">
                            <div class="d-flex gap-2 py-2">
                                {{ form.update(class="btn btn-success btn-lg btn-block") }}
                            </div>
                            <!-- Exemplo de botao que vincula usuario x grupo  -->
                            <div class="d-grid gap-2 py-2">
                                <button type="button" class="btn btn-success btn-primary" id="addGrupoButton">Add Grupo</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>

            <!-- Tabela de grupos do USUÁRIO - INICIO -->
            <div class="container py-2 hidden" id="div_tabela">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                           <!-- <th>Usuario</th> -->
                           <th>Grupo</th>
                           <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <!-- <th>Usuario</th> -->
                            <th>Grupo</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody id="myTable1">
                        {% for ativo in usuario_grupo %}
                            <tr>
                                <!-- <td>{{ ativo.USUARIO }}</td> -->
                                <td>{{ ativo.GRUPO }}</td>
                                <td>
                                    <div class="d-flex justify-content-evenly">
                                    <a href="/cadasto/grupoxusuario/delete/{{ ativo.USUARIO_GRUPO_ID }}" id="icones">
                                        <i class="bi bi-trash-fill text-danger" title="Desvincular"></i>
                                    </a>
                                    </div>
                                </td>
                                

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Tabela de grupos do USUÁRIO - FIM -->

            <!-- Modal: Vinculara grupo ao usuário - INICIO -->
            <div class="modal fade" id="addGrupoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Adicionar Grupo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div
                                class="form-outline mb-2">
                                <!-- Adicionar Form para adicionar GRUPO - INICIO -->
                                <form action="" method="POST">
                                    {{ form.csrf_token }}
                                    <input type="hidden" name="form" value="add_grupo_form"/>
                                    {{ form.grupo(class="form-control form-control-lg", id="grupo") }}
                                    {{form.vincular(class="btn btn-success mt-4")}}
                                </form>
                                <!-- Adicionar Form-->
                                <!-- Adicionar Form para adicionar GRUPO - FIM -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal: Vinculara grupo ao usuário - FIM -->


        </div>
    </div>



    <!-- validação do email - INICIO -->
    <script>
               // Validação do e-mail
               var emailField = document.getElementById("email_modal");
            var emailFeedback = document.createElement("div");
            emailFeedback.classList.add("invalid-feedback");
            emailField.parentNode.appendChild(emailFeedback);
    
            emailField.addEventListener("input", function () {
                var emailPattern = /^[a-zA-Z0-9._%+-]+@medsenior.com.br$/;
                if (emailPattern.test(emailField.value)) {
                    emailField.classList.remove("is-invalid");
                    emailField.classList.add("is-valid");
                    emailFeedback.textContent = "E-mail válido.";
                    emailFeedback.classList.remove("d-block");
                } else {
                    emailField.classList.remove("is-valid");
                    emailField.classList.add("is-invalid");
                    emailFeedback.textContent = "E-mail inválido. Use um e-mail @medsenior.com.br";
                    emailFeedback.classList.add("d-block");
                }
            });
    
            // Função para validar e-mail antes de submeter o formulário
            function validarFormulario(event) {
                var emailPattern = /^[a-zA-Z0-9._%+-]+@medsenior.com.br$/;
                if (!emailPattern.test(emailField.value)) {
                    emailField.classList.add("is-invalid");
                    emailFeedback.textContent = "E-mail inválido. Use um e-mail @medsenior.com.br";
                    emailFeedback.classList.add("d-block");
                    event.preventDefault(); // Impede a submissão do formulário
                }
            }
    
            // Seleciona o formulário pelo ID e adiciona o evento de submissão
            var form = document.querySelector("form[action='']");
            form.addEventListener("submit", validarFormulario);
    </script>
    <!-- validação do email - INICIO -->
{% endblock %}
