{% extends 'base/base.html' %}

{% block conteudo %}



{% set mensagens = get_flashed_messages(with_categories=true) %}


<div class="container content">
    <div class="row">
        <div class="msgm-usr col-10 text-center">
            <a href="/index""><img src=" ../static/img/back-return-svgrepo-com.svg"></a>
        </div>
    </div>
    <div class="row container-usr">
        {% if 1 in permissoes %}
        <div class="cad-usr col-12 col-sm-6 col-md-4 col-lg-3" onclick="window.location.href='{{ url_for('cadastro_usuario') }}'">
            <img src="../static/img/users-plus-svgrepo-com.svg" alt="cadastro de usuarios">
            <p>Usuários</p>
            </a>
        </div>
        {% endif %}

        {% if 1 in permissoes %}
        <div class="grp-usr col-12 col-sm-6 col-md-4 col-lg-3" onclick="window.location.href='{{ url_for('grupo') }}'">
            <img src="../static/img/group-svgrepo-com.svg" alt="cadastro de grupos">
            <p>Grupos</p>
            </a>
        </div>
        {% endif %}


        {% if 1 in permissoes %}
        <div class="func-usr col-12 col-sm-6 col-md-4 col-lg-3" onclick="window.location.href='{{ url_for('cadastrar_funcionalidade') }}'">
            <img src="../static/img/layout-7-svgrepo-com.svg" alt="cadastro funcionalidade">
            <p>Funcionalidades</p>
            </a>
        </div>
        {% endif %}

        {% if 1 in permissoes %}
        <div class="func-usr col-12 col-sm-6 col-md-4 col-lg-3" onclick="window.location.href='{{ url_for('cadastrar_download_arquivo') }}'">
            <img src="../static/img/download-photo-svgrepo-com.svg" alt="cadastro Download Arquivo">
            <p>Download Arquivos</p>
            </a>
        </div>
        {% endif %}



    </div>


    {% endblock %}
    <!--
            <div class="down-usr col-12 col-sm-6 col-md-4 col-lg-3" onclick="window.location.href='{{ url_for('download_arquivo') }}'">
                <img src="../static/img/upload-svgrepo-com.svg" alt="download de arquivo">
                    <p>Download de Arquivos</p>
                </a>
            </div>
            -->