.modal-body {
  position: relative;
  /* Ensure that the button can be positioned relative to the modal body */
}

.copybtn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 15px;
  /* Adjust margin as needed */
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  padding: 0 15px;
  color: #006631;
  background: transparent;
  line-height: 1.15;
  font-size: 14px;
  height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  border: 1px solid #006631;
  text-align: center;
  transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.copybtn:hover {
  background: #f4f4f4;
}